carbonplan_data
carbonplan_styles
xarray-schema
git+https://github.com/xarray-contrib/datatree@54edbf77fdc756b74bfca00986f4a68e04643b29
git+https://github.com/carbonplan/ndpyramid@34e6bfbc7d217917f90816e520450269eae3934b
git+https://github.com/pangeo-data/scikit-downscale@84cd5f45de4aa61445ca74b85505b035f84fbb80
git+https://github.com/fsspec/universal_pathlib
